{% extends 'dashboard.html' %}

{% block content %}

{% load static %}

<!--Main layout-->
<main class="pt-5 mx-lg-5">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="#">User Feedbacks</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h4>

                <form class="d-flex justify-content-center" autocomplete="off">
                    <!-- Default input -->
                    <input id="usersearch" type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                    

                </form>

            </div>

        </div>

    </div>
    <!-- Heading -->

    <div class="container mt-5">
        <h3 class="mb-0">User Feedbacks Table</h3>
    </div>
    <div class="container mt-3 bg-white z-depth-1 p-0">

        <table class="table table-hover text-center">
            <thead class="primary-color text-white z-depth-1">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Feedback</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="usertable">
                {% for f in feed %}
                <tr>
                    <td class="align-middle">{{f.email}}</td>
                    <td class="align-middle">{{f.feed}}</td>
                    <td class="align-middle"><a href="/delFeed/{{f.id}}/" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt mr-1"></i>Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</main>



{% endblock %}