{% extends 'base.html' %}

{% block content %}

{% load static %}


<div class="wrapper">

    <div id="particles-js"></div>
    <div class="heading">
        <div class="dec-head">
            <h1>Leafy Image Detection</h1>
            <p>Our website uses image detection techniques to detect the type of disease infecting the leaf. In simple
                words
                we try to match the pattern of the image with previously known disease patterns and guess the disease.
                We
                employ a neural network to achieve this. With a properly clicked image the disease can be identified
                with
                accuracy upto 95 %.
            </p>
        </div>
        <div class="dec-img">
            <img src="{% static 'images/camera.svg' %}" alt="image">
        </div>
    </div>


    <div class="instructions">
        <div>
            <img src="{% static 'images/ins.svg' %}" alt="image">
        </div>
        <div class="ins">
            <h3>Instructions</h3>
            <ul>
                <li><i class="fas fa-exclamation"></i>Please Make sure the picture/image is taken in a uniform
                    background (preferably black background).</li>
                <li><i class="fas fa-exclamation"></i>Make sure the lighting is uniform.</li>
                <li><i class="fas fa-exclamation"></i>Please make sure the diseased portion is clearly visible.</li>
                <li><i class="fas fa-exclamation"></i>Make sure the whole leaf is photographed and not just the diseased
                    part.</li>
                <li><i class="fas fa-exclamation"></i>Please make sure the size of the picture/image is less than or
                    equal to 7 MB.</li>
                <li class="danger"><i class="fas fa-exclamation-triangle"></i>The AI is able to detect leaves of only a
                    selected number
                    of crops (Potato, Tomato, Pumpkin, Cherry and Corn), for satisfactory results use leaves of the
                    given
                    plants.</li>
            </ul>
        </div>
    </div>


    <div class="pro-overlay">

    </div>

    <div class="processing">
        <h1>Predicting</h1>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            style="margin: auto; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; shape-rendering: auto; animation-play-state: running; animation-delay: 0s;"
            width="191px" height="191px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" r="18" stroke-width="3" stroke="#76ff03"
                stroke-dasharray="28.274333882308138 28.274333882308138" fill="none" stroke-linecap="round"
                style="animation-play-state: running; animation-delay: 0s;">
                <animateTransform attributeName="transform" type="rotate" dur="1.6393442622950818s"
                    repeatCount="indefinite" keyTimes="0;1" values="0 50 50;360 50 50"
                    style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
            <circle cx="50" cy="50" r="14" stroke-width="3" stroke="#66a035"
                stroke-dasharray="21.991148575128552 21.991148575128552" stroke-dashoffset="21.991148575128552"
                fill="none" stroke-linecap="round" style="animation-play-state: running; animation-delay: 0s;">
                <animateTransform attributeName="transform" type="rotate" dur="1.6393442622950818s"
                    repeatCount="indefinite" keyTimes="0;1" values="0 50 50;-360 50 50"
                    style="animation-play-state: running; animation-delay: 0s;"></animateTransform>
            </circle>
            <!-- [ldio] generated by https://loading.io/ -->
        </svg>
        <h2>Please wait...</h2>
    </div>

    <div class="dec-container">
        <div class="image-dec-head">
            <h1>Image Selection</h1>
            <p>Select any image of a crop's leaf which will be used for detection.
                Make sure that the whole leaf is visible and the image has a uniform
                background.
            </p>
        </div>
        <div class="image-dec-form">
            <form action="{% url 'user-detection' %}" method="POST" enctype="multipart/form-data" onsubmit="process()">
                {% csrf_token %}
                <div class="box">
                    <input type="file" name="pic" id="file-2" class="inputfile inputfile-2" accept="image/*" />
                    <label for="file-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17"
                            viewBox="0 0 20 17">
                            <path
                                d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                        </svg> <span>Choose an Image</span></label>
                </div>
                <div class="input-box-2">
                    <input type="submit" onclick="return check()" value="Predict">
                </div>
            </form>
        </div>
    </div>


    <div id="predict">
        <h2>Result</h2>
        <div class="img">
            <div class="ori-img">
                <img src="data:image/png;base64, {{image}}" alt="">
                <h3>Original Image</h3>
            </div>
            <i class="fas fa-long-arrow-alt-right"></i>
            <div class="pro-img">
                <img src="data:image/png;base64, {{image_2}}" alt="">
                <h3>Processed Image</h3>
            </div>
        </div>

        <p id="res">{{disease}}</p>

        {% for remedies in remedy %}
        <div class="result-con">
            <h1>Symptom</h1>
            <ul>
                <li>{{remedies.symptom_1}}</li>
                <li>{{remedies.symptom_2}}</li>
                <li>{{remedies.symptom_3}}</li>
            </ul>

            <h1>Cause</h1>
            <ul>
                <li>{{remedies.cause_1}}</li>
                <li>{{remedies.cause_2}}</li>
                <li>{{remedies.cause_3}}</li>
            </ul>

            <h1>Remedy</h1>
            <ul>
                <li>{{remedies.remedy_1}}</li>
                <li>{{remedies.remedy_2}}</li>
                <li>{{remedies.remedy_3}}</li>
            </ul>
        </div>
        {% endfor %}
    </div>


    <div class="history">
        <h1>Previous Detections</h1>

        <div class="his-con">
            {% if user.is_authenticated %}
                {% for histories in history %}
                    <div class="his_div">
                        <a href="fullResult/{{histories.result}}/"><img src="{{histories.img.url}}" alt=""></a>
                        <a class="hr" href="fullResult/{{histories.result}}/">{{histories.result}}</a>
                    </div>
                {% endfor %}
                <div class="show-all-history">
                    <h4 onclick="showAllHistory()">Show all</h4>
                </div>
                <div class="show-less-history">
                    <h4 onclick="showLessHistory()">Show less</h4>
                </div>
            {% else %}
                <p style="color: white; text-align:center; ">Please Log In to see Your history</p>
            {% endif %}
        </div>
        
    </div>
    
</div>


{% endblock %}


{% block script %}
    <script src="{% static 'js/custom-file-input.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock %}